.header {
	height: 64px;
	padding: 0 50px;
	line-height: 64px;
	flex: 0 0 auto;
	background: #000;
	border-bottom: 1px solid #333;
	color: #fff;
}

.logo {
	float: left;
	width: 150px;
	color: #fff;
	font-size: 30px;
}

.nav {
	display: flex;
}

.text {
	cursor: pointer;
	padding: 0 20px;
}
