.header {
	height: 64px;
	padding: 0 50px;
	line-height: 64px;
	flex: 0 0  auto;
	background: #000;
	border-bottom: 1px solid #333;
	color: #fff;
}

.logo {
	float: left;
	font-size: 30px;
	cursor: pointer;
}

.nav {
	float: right;
}

.text {
	padding: 0 20px;
}

.text:hover {
	color: orange;
	cursor: pointer;
}